---
import Layout from "../layouts/Layout.astro";
import resume from "../_data/resume.json";
import { slug, formatDate, groupBy, sortNatural } from "../lib/helpers";

const workGroups = groupBy(resume.work, "name");
const awards = [...resume.awards].sort((a, b) => b.date.localeCompare(a.date));
const certificates = [...resume.certificates].sort((a, b) =>
  b.date.localeCompare(a.date),
);
const projectGroups = groupBy(resume.projects, "entity");
---

<Layout title={resume.basics.name}>
  <section id="work">
    <h2 title="Work Experience">
      💼<span class="sr-only">Work Experience</span>
    </h2>
    <dl>
      {
        workGroups.map((group) => (
          <>
            <dt id={`work--${slug(group.name)}`}>{group.name}</dt>
            {[...group.items]
              .sort((a, b) => b.startDate.localeCompare(a.startDate))
              .map((r) => (
                <dd
                  id={`${slug(group.name)}--${slug(r.position)}-${slug(r.description)}`}
                  itemprop="worksFor"
                  itemscope
                  itemtype="https://schema.org/EmployeeRole"
                >
                  <meta
                    itemprop="startDate"
                    content={formatDate(r.startDate, "YYYY-MM-DD")}
                  />
                  {r.endDate && (
                    <meta
                      itemprop="endDate"
                      content={formatDate(r.endDate, "YYYY-MM-DD")}
                    />
                  )}
                  {r.summary && (
                    <meta itemprop="description" content={r.summary.trim()} />
                  )}
                  <time datetime={formatDate(r.startDate, "YYYY-MM-DD")}>
                    {formatDate(r.startDate, "YYYY")}
                  </time>
                  <span>
                    <span itemprop="roleName">{r.position}</span>
                    <span
                      itemprop="worksFor"
                      itemscope
                      itemtype="https://schema.org/Organization"
                    >
                      <meta itemprop="name" content={group.name} />
                      {r.location && (
                        <meta itemprop="location" content={r.location} />
                      )}
                      <span
                        itemprop="department"
                        itemscope
                        itemtype="https://schema.org/Organization"
                      >
                        {r.url ? (
                          <a
                            href={r.url}
                            rel="external noopener noreferrer"
                            target="_blank"
                            itemprop="url"
                          >
                            <span itemprop="name">{r.description}</span>
                          </a>
                        ) : (
                          <span itemprop="name">{r.description}</span>
                        )}
                      </span>
                    </span>
                  </span>
                </dd>
              ))}
          </>
        ))
      }
    </dl>
  </section>

  <section id="awards">
    <h2 title="Awards">🏆<span class="sr-only">Awards</span></h2>
    <ul>
      {
        awards.map((a) => (
          <li
            id={`${slug(a.title)}-${slug(a.awarder)}-${formatDate(a.date, "YYYY")}`}
          >
            <meta
              itemprop="award"
              content={`${a.title}, ${a.awarder} (${formatDate(a.date, "YYYY")})${a.summary ? ` — ${a.summary}` : ""}`}
            />
            <time datetime={formatDate(a.date, "YYYY-MM-DD")}>
              {formatDate(a.date, "YYYY")}
            </time>
            <span>
              <span>{a.awarder}</span> // <span>{a.title}</span>
            </span>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="volunteer">
    <h2 title="Volunteering">🫶<span class="sr-only">Volunteering</span></h2>
    <ul>
      {
        resume.volunteer.map((v) => (
          <li
            id={`${slug(v.organization)}--${slug(v.position)}`}
            itemprop="affiliation"
            itemscope
            itemtype="https://schema.org/Role"
          >
            <meta
              itemprop="startDate"
              content={formatDate(v.startDate, "YYYY-MM-DD")}
            />
            {v.endDate && (
              <meta
                itemprop="endDate"
                content={formatDate(v.endDate, "YYYY-MM-DD")}
              />
            )}
            {v.summary && (
              <meta itemprop="description" content={v.summary.trim()} />
            )}
            <time datetime={formatDate(v.startDate, "YYYY-MM-DD")}>
              {formatDate(v.startDate, "YYYY")}
            </time>
            <span>
              <span itemprop="roleName">{v.position}</span> at{" "}
              <span
                itemprop="affiliation"
                itemscope
                itemtype="https://schema.org/Organization"
              >
                <a
                  href={v.url}
                  rel="external noopener noreferrer"
                  target="_blank"
                  title={v.summary}
                  itemprop="url"
                >
                  <span itemprop="name">{v.organization}</span>
                </a>
              </span>
            </span>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="certificates">
    <h2 title="Certificates">📄<span class="sr-only">Certificates</span></h2>
    <ul>
      {
        certificates.map((c) => (
          <li
            id={`${slug(c.name)}-${slug(c.issuer)}-${formatDate(c.date, "YYYY")}`}
            itemprop="hasCredential"
            itemscope
            itemtype="https://schema.org/EducationalOccupationalCredential"
          >
            <meta itemprop="credentialCategory" content="certification" />
            <meta
              itemprop="dateCreated"
              content={formatDate(c.date, "YYYY-MM-DD")}
            />
            <time datetime={formatDate(c.date, "YYYY-MM-DD")}>
              {formatDate(c.date, "YYYY")}
            </time>
            <span>
              [
              <span
                itemprop="recognizedBy"
                itemscope
                itemtype="https://schema.org/Organization"
              >
                <span itemprop="name">{c.issuer}</span>
              </span>
              ]{" "}
              <a
                href={c.url}
                rel="external noopener noreferrer"
                target="_blank"
                itemprop="url"
              >
                <span itemprop="name">{c.name}</span>
              </a>
            </span>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="projects">
    <h2 title="Projects">📁<span class="sr-only">Projects</span></h2>
    <dl>
      {
        projectGroups.map((group) => (
          <>
            <dt id={`projects--${slug(group.name)}`}>{group.name}</dt>
            {sortNatural(group.items, "name").map((p) => (
              <dd
                id={`projects--${slug(group.name)}--${slug(p.name)}`}
                itemscope
                itemtype="https://schema.org/CreativeWork"
              >
                {p.url ? (
                  <a
                    href={p.url}
                    rel="external noopener noreferrer"
                    target="_blank"
                    title={p.description}
                    itemprop="url"
                  >
                    <span itemprop="name">{p.name}</span>
                  </a>
                ) : (
                  <span itemprop="name">{p.name}</span>
                )}
                {p.description && (
                  <meta itemprop="description" content={p.description} />
                )}
                <span
                  itemprop="creator"
                  itemscope
                  itemtype="https://schema.org/Person"
                >
                  <meta itemprop="name" content={resume.basics.name} />
                  <meta itemprop="url" content={resume.basics.url} />
                </span>
                <span
                  itemprop="publisher"
                  itemscope
                  itemtype="https://schema.org/Organization"
                >
                  <meta itemprop="name" content={group.name} />
                </span>
                {p.keywords &&
                  p.keywords.map((keyword) => (
                    <meta itemprop="keywords" content={keyword} />
                  ))}
              </dd>
            ))}
          </>
        ))
      }
    </dl>
  </section>

  {/* references section intentionally disabled
  <section id="references">
    <h2 title="References">👍<span class="sr-only">References</span></h2>
    {resume.references.map((r) => (
      <figure>
        <blockquote>{r.reference}</blockquote>
        <figcaption>{r.name}</figcaption>
      </figure>
    ))}
  </section>
  */}
</Layout>
